@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.our-content { 
    max-width: 600px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 80px;
} 
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;

    line-height: 2.5em;
    padding-top: 20px;
    background-image: url("../images/tic-tac-toe.png");

}
img {
    padding-top: 20px;
    padding-bottom: 40px;
}
button:hover {
    background-color: orange;
}
ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
    li.active{
    float: left;
  } 
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: green;
  }